/* SkillsExperience.css */

.skills-container {
  padding: 50px 20px;
  background-color: #0f172a;
  text-align: center;
  color: white;
}

.skills-title {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 10px;
}

.skills-subtitle {
  font-size: 28px;
  color: #38bdf8;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-box {
  background-color: #1e293b;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.skill-box:hover {
  transform: scale(1.05);
  background-color: #334155;
}

.skill-box h4 {
  margin-top: 15px;
  font-size: 16px;
}

.skill-box p {
  font-size: 14px;
  color: #94a3b8;
  margin-top: 5px;
}



@media (max-width: 768px) {
  .skills-grid,
  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .skill-card,
  .service-card {
    width: 90%;
  }
}
